{% extends 'index.html' %}

{% block title %}
Обзоры
{% endblock %}


{% block content %}

<main class="main_block">

    <!--{% include 'includes/left_menu2.html' %}-->


    <div class="book-with-articles-container">
        {% for book in books_with_reviews%}
            {% include 'includes/product_brife_block.html' with review_num=True%}
        {% endfor %}
        {% if is_paginated %}



        <div class="paginate_container">
            <ul class="pagination">
    {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
            <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
             <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}

            </ul>

        </div>
        {% endif %}
    </div >


</main>






{% endblock %}

{% block form%}

{% endblock %}